{% extends "layout-auth.html" %}

{% block title %}
    {{title}}
{% endblock %}

{% block body %}
<div class="section auth-create-section"> 
    <div class="container">
    
        <form class="form" action="{% url 'clients:create' %}" method="post">
            <h1>Create client account</h1>
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit">
            {% if error %}
            <span class="form-error-message">
                {{message_error}}
            </span>
                
            {% endif %}
            <ul class="auth-menu">
                <li class="menu-item"><a href="{% url 'authentication:login' %}" class="menu-link">Login</a></li>
            </ul>
        </form>
    </div>
</div>
    
{% endblock %}